<footer class="footer">
    <div class="footer__copyright">
        <p class="footer__paragraph"> &copy; Developped by <a href="https://github.com/Simon-Busch" target="_blank" class="footer__simon">Simon Busch</a>, all credit goes to the creator.</p>
    </div>
    <div class="footer__social">
        <ul class="footer__flex">
            <li class="footer__item"><a href="https://www.facebook.com/simon.busch1"class="footer__link"><ion-icon name="logo-facebook" class="footer__logo"></ion-icon></ion-icon></a></li>
            <li class="footer__item"><a href="https://www.instagram.com/simonbusch/"class="footer__link"><ion-icon name="logo-instagram" class="footer__logo"></ion-icon></a></li>
            <li class="footer__item"><a href="#"class="footer__link"><ion-icon name="logo-pinterest" class="footer__logo"></ion-icon></a></li>
            <li class="footer__item"><a href="#"class="footer__link"><ion-icon name="logo-twitter" class="footer__logo"></ion-icon></a></li>
            <li class="footer__item"><a href="https://github.com/Simon-Busch" target="_blank" class="footer__link"><ion-icon name="logo-github" class="footer__logo footer__logo--github js--anim-5"></ion-icon></a></li>
        </ul>
    </div>
</footer>