<footer class="footer">
    <div class="footer__copyright">
        <p class="footer__paragraph"> &copy; Developped by <a href="https://simon-busch.github.io/Profile-2.0/" target="_blank" class="footer__simon">Simon Busch</a>, all credit goes to the creator.</p>
    </div>
    <div class="footer__social">
        <ul class="footer__flex">
            <li class="footer__item"><a href="https://www.facebook.com/simon.busch1"class="footer__link" target="_blank"><i class="fab fa-facebook footer__logo"></i></a></li>
            <li class="footer__item"><a href="https://www.instagram.com/simonbusch/"class="footer__link" target="_blank"><i class="fab fa-instagram footer__logo"></i></a></li>
            <li class="footer__item"><a href="https://www.linkedin.com/in/simonbusch89/"class="footer__link" target="_blank"><i class="fab fa-linkedin footer__logo"></i></a></li>
            <li class="footer__item"><a href="https://github.com/Simon-Busch" target="_blank" class="footer__link" target="_blank"><i class="fab fa-github footer__logo footer__logo--github"></i></a></li>
        </ul>
    </div>
</footer>